@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.app-wrapper {
    display: grid;
    grid-template-areas:
    "h h"
    "n c";
    grid-auto-rows: 60px 1fr;
    grid-auto-columns: 2fr 10fr;
    grid-gap: 10px;
    font-family: 'Roboto', sans-serif;

}

.app-wrapper-content {
    background-color: aliceblue;
    grid-area: c;
}